registry=https://npm.pkg.github.com/@workduck-io
registry=https://registry.npmjs.org
@workduck-io:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
