{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "@workduck-io/(.*)$", "^@mexit/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
