.dropdown {
  display: inline-block;
  position: relative;
  margin-top: -15px;
}

.dd-button {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  background-color: #504945;
  user-select: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}
